# environments
.env

# hosts map
/hosts.map

# node ports map
/node-ports.map

# hosts link
/hosts.link

# www data directories
/www/*
!/www/phpmemadmin
!/www/opcache-gui
!/www/apcu
/www/phpmemadmin/*
/www/opcache-gui/*
/www/apcu/*

# hosts configs
/hosts/apache/*
/hosts/nginx/*
!/hosts/*/phpmemadmin.conf
!/hosts/*/opcache-gui.conf
!/hosts/*/apcu.conf

# images config files
/images/apache/my-httpd.conf
/images/php/php7.4.ini
/images/php/php8.0.ini
/images/php/msmtprc
/images/node/ecosystem.config.js
/images/mysql/my.cnf
/images/redis/redis.conf
/images/rabbitmq/rabbitmq.conf
/images/schedule/supervisord.conf
/images/schedule/ecosystem.config.js
/images/schedule/additional.ini
/images/logstash/config/*
/images/logstash/pipeline/*
/images/filebeat/filebeat.yml
/images/localstack/credentials
/images/localstack/config
/images/ngrok/ngrok.yml

# services config files
/services/*
!/services/examples

# data directories
/data/cache/.composer/*
/data/cache/.npm/*
/data/cache/.pip/*
/data/cache/.pypoetry/*
/data/certs/ca/*
/data/certs/hosts/*
/data/certs/mnt/*
/data/mails/*
/data/databases/mysql/*
/data/databases/mongo/*
/data/databases/rabbitmq/*
/data/databases/redis/*
/data/databases/elasticsearch/*
/data/dumps/mysql/*
/data/dumps/mongo/*
/data/dumps/redis/*
/data/cron/*
!/data/cron/update_caroot
/data/localstack/*

# logs directories
/logs/apache/*
/logs/nginx/*
/logs/php/*
/logs/msmtp/*
/logs/mysql/*
/logs/redis/*
/logs/supervisord/*
/logs/cron/*
/logs/elasticsearch/*
/logs/ngrok/*

# IDEs and editors
/.idea

# system files
.DS_Store
Thumbs.db
.directory

# keep .gitkeep files
!/**/.gitkeep