[PHP]

; ----------------------------
; Zend extensions
; ----------------------------

extension  = blackfire

; ----------------------------
; Zend extensions settings
; ----------------------------

[blackfire]

;off      Nothing is enabled (0 overhead)
;develop  Enables Development Aids + overloaded var_dump()
;coverage Enables Code Coverage Analysis
;debug    Enables Step Debugging
;gcstats  Enables Garbage Collection Statistics
;profile  Enables Profiling
;trace    Enables the Function Trace feature
;Example: xdebug.mode=develop,trace
xdebug.mode                      = off

[Zend OPcache]

opcache.enable                   = off

[probe]

; Sets fine-grained configuration for Probe.
; This should be left blank in most cases. For most installs,
; the server credentials should only be set in the agent.
;blackfire.server_id =

; Sets fine-grained configuration for Probe.
; This should be left blank in most cases. For most installs,
; the server credentials should only be set in the agent.
;blackfire.server_token =

; Log verbosity level (4: debug, 3: info, 2: warning, 1: error)
;blackfire.log_level = 1

; Log file (STDERR by default)
;blackfire.log_file = /tmp/blackfire.log

; Sets the socket where the agent is listening.
; Possible value can be a unix socket or a TCP address.
; Defaults to unix:///var/run/blackfire/agent.sock on Linux,
; unix:///usr/local/var/run/blackfire-agent.sock on macOS amd64,
; unix:///opt/homebrew/var/run/blackfire-agent.sock on macOS arm64 (M1),
; and to tcp://127.0.0.1:8307 on Windows.
blackfire.agent_socket = tcp://blackfire:8307

; Enables Blackfire Monitoring
; Enabled by default since version 1.61.0
;blackfire.apm_enabled = 1